input {
  font-size: 15px;
  height: 32px;
  color: #333;
  position: relative;
  margin-right: 5px;
  /* border: 3px solid #ea5903; */
  border: none;
  width: 280px;
  float: left;
  padding: 0 8px;
}